@page
@model googleLogin.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Вход";
}

<h1>@ViewData["Title"]</h1>
<div>
    <h4>Войти череz гугл</h4>
        <hr />
        <a class="btn btn-primary" href="/login">Вход черз Google</a>
    
</div>


