@page

@{
    ViewData["Title"] = "Главная";
}
<!--
<ul>
  
        <li><a href="/profile">профиль</a></li>
        <li>
            <form method="post" action="/logout">
                <button type="submit" class="btn btn-danger">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li><a href="/login">Войти через Google</a></li>
    }
</ul>
-->

<a class="btn btn-primary" href="/login">Войти через гугл</a>
<a class="btn btn-primary" href="/logout">Выйти</a>