@page
@model ProfileModel
@{
    ViewData["Title"] = "Профиль";
}
<h1>@ViewData["Title"]</h1>
<a class="btn btn-primary" href="/logout">Выйти</a>
@if (Model.IsAuthenticated)
{
    <p>Имя: @Model.Name</p>
    <p>Email: @Model.Email</p>
    <form method="post" action="/logout">
        <button type="submit" class="btn btn-danger">Выйти</button>
    </form>
}
else
{
    <p>Вы не вошли в систему</p>
    <a class="btn btn-primary" href="/login">Войти через гугл</a>

}
